.about {
  height: 20px;
  position: relative;
  width: 43px;
}

.about .text-wrapper {
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.about .default {
  color: #f0f0f099;
}

.about .variant-3 {
  color: #ff598a;
}

.about .variant-2 {
  color: #ffffff;
}
