.desktop {
  align-items: center;
  background-color: #000024;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1024px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.desktop .glow-chile-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 233px;
  padding: 85px 410px;
  position: absolute;
  top: -62px;
}

.desktop .map-wrapper {
  display: flex;
  align-items: self-end;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.desktop .glow-chile {
  align-items: center;

  height: 926.01px !important;
  margin-bottom: -0.01px !important;
  margin-left: -0.01px !important;
  margin-right: -0.01px !important;
  margin-top: -0.01px !important;
  position: relative !important;
  width: 153.01px !important;
}

.desktop .frame-wrapper {
  align-items: center;
  display: flex;
  height: 978px;
  justify-content: flex-end;
  position: relative;
  width: 1440px;
}

.desktop .div {
  height: 978px;
  position: relative;
  width: 1440px;
}

.desktop .menus {
  align-items: center;
  display: flex;
  gap: 35px;
  height: 20px;
  justify-content: flex-end;
  left: 907px;
  position: absolute;
  top: 54px;
  width: 344px;
}

.desktop .data-source {
  height: 19px !important;
  width: 86px !important;
}

.desktop .contact {
  width: 57px !important;
}

.desktop .project {
  width: 53px !important;
}

.desktop .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 154px;
  left: 619px;
  position: absolute;
  top: 412px;
  width: 190px;
}

.desktop .frame-fire {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 154px;

  position: absolute;
  top: 350px;
  width: 190px;
}

.desktop .fire-instance {
  background-image: url(../../../static/img/fire.svg) !important;
  position: relative !important;
  width: 100%;
}

.desktop .live-fires-button-instance {
  display: flex !important;
  flex: 0 0 auto !important;
  width: 190px !important;
}

.desktop .design-component-instance-node {
  letter-spacing: 0 !important;
  text-align: center !important;
}

.desktop .title-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 182px;
  left: 203px;
  position: absolute;
  top: 23px;
  width: 371px;
}

.desktop .title {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
}

.desktop .text-wrapper-2 {
  color: #f0f0f0;
  font-family: "Outfit", Helvetica;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 371px;
}
