
@keyframes glowing {
  0%,
  100% {
    box-shadow: 0 0 5px #ff2559, 0 0 10px #ff2559, 0 0 15px #ff2559,
      0 0 20px #ff4500, 0 0 25px #ff4500, 0 0 30px #ff4500, 0 0 30px #ff4500,
      0 0 75px #ff4500;
  }
  50% {
    box-shadow: 0 0 10px #ff2559, 0 0 20px #ff2559, 0 0 30px #ff2559,
      0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 80px #ff4500,
      0 0 150px #ff4500;
  }
}

.glow {
  animation: glowing 1.5s infinite ease-in-out;
}
